/* COOKIE BANNER */
.react-cookie-law-dialog {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-color: rgb(251 254 249);
    width: 100%;
}
.react-cookie-law-container {
    font-family: gotham-rounded-book, sans-serif;
    color: rgb(13 27 42);
    max-width: 240px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 10px;
    flex-direction: column;
    overflow: hidden;
}

.react-cookie-law-msg {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; 
}
.react-cookie-law-policy {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    text-decoration: underline;
    font-family: gotham-rounded-bookitalic, sans-serif;
}
.react-cookie-law-policy:hover {
    color: rgb(118 120 237);
}
.react-cookie-law-button-wrapper {
    display: flex;
    justify-content: center;
}
.react-cookie-law-manage-btn {
    padding-right: 1rem;
}
.react-cookie-law-save-btn {
    padding-right: 1rem;
}
.react-cookie-law-save-btn:hover {
    color: rgb(118 120 237);
}
.react-cookie-law-manage-btn:hover {
    color: rgb(118 120 237);
}

.react-cookie-law-select-pane {
    padding-bottom: 10px; 
    font-family: gotham-rounded-light, sans-serif;  
}
.react-cookie-law-option-wrapper {
    display: inline-block;
    padding-right: 10px;
}
.react-cookie-law-option-wrapper:hover {
    color: rgb(118 120 237);
}
.react-cookie-law-option-wrapper label {
    margin-left: 3px;
}
.react-cookie-law-accept-btn {
    border-width: 2px;
    border-radius: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-color: rgb(118 120 237)
}
.react-cookie-law-accept-btn:hover {
    background-color: rgb(118 120 237);
    color: rgb(251 254 249);
}

@media (min-width: 768px) {
    .react-cookie-law-msg {
        text-align: start;
    }
    .react-cookie-law-container {
        max-width: 688px;
    }
    .react-cookie-law-policy {
        display: inline-block;
        padding-top: 7px;
        padding-bottom: 5px;
    }
    .react-cookie-law-select-pane {
        display: table-cell;
        margin-top: 0px;
        text-align: start;
    }
    .react-cookie-law-accept-btn {
        display: inline-block;
    }
    .react-cookie-law-manage-btn {
        display: inline-block;
    }
    .react-cookie-law-save-btn {
        display: inline-block;
    }
    .react-cookie-law-button-wrapper {
        display: inline;
        float: right;
    }

    .react-cookie-law-option-wrapper {
        padding-right: 15px;
    }
}

@media (min-width: 1050px) {
    .react-cookie-law-container {
        max-width: 1100px;
        font-size: 12px;
    }
}